

h1{
    
    color:palevioletred;
    text-align: center;
    background-color: rgb(191, 240, 15);

}




.blocked-style{
    border: 2px solid rgb(155, 211, 197);
    display: flex;
    
    flex-wrap: wrap;
    background-color: white;
    margin: 3%;
    

}


.buttonstyle{
    text-align: right;
}

.miguu{
    background-color: rgb(57, 145, 39);
}
.lastbon{
    text-align: center;
}
 
.headband{
    display: flex;
    display: block;
}

h4{
 color:magenta   

}

.splash{
    margin: 20%;
    border: 3px;
    border-color: blue;
background-color:pink ;
}

h3{
    color:blue;
}